In [20]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [26]:
conn = create_engine('postgresql://user:pass@localhost:5432/db')


df = pd.read_sql(""" SELECT * FROM uniswap_v3_deals uvd INNER JOIN uniswap_v3_events uve
ON uvd.blockchain_event_id = uve.id WHERE uve.type != 'Swap'""", conn)

In [27]:
df.head()

,id,created_at,updated_at,deleted_at,symbol_a,symbol_b,price_token_a,price_token_b,volume_tokens_a_in_usd,volume_tokens_b_in_usd,...,pool_address,amount_token_a,amount_token_b,price_lower,price_upper,timestamp,position_token_id,tx_id,log_index,block_number
0,2522,2025-10-26 07:03:54.639747+00:00,2025-10-26 07:03:54.639747+00:00,None,UNI,ETH,41.8650,3457.12,3918.316854,10371.360000,...,0x1d42064Fc4Beb5F8aAF85F4617AE8b3b5B8Bd801,9.359410e+19,3.000000e+18,1.194099e-02,1.208513e-02,2021-05-06 03:16:44+00:00,,0x18eb08aeb9e86903681873ed7cd603c080cae087f106...,187,12378269
1,6139,2025-10-26 07:07:38.367498+00:00,2025-10-26 07:07:38.367498+00:00,None,USDC,ETH,0.9993,3421.67,0.000000,171.083500,...,0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640,0.000000e+00,5.000000e+16,1.447996e-08,1.449445e-08,2021-05-06 19:28:25+00:00,5394,0xc9676a5916169d94b4f44b1c9c7dd75e94ed21432ed5...,315,12382631
2,6194,2025-10-26 07:07:56.297485+00:00,2025-10-26 07:07:56.297485+00:00,None,USDC,ETH,0.9987,3579.86,5735.075456,5179.949975,...,0x8ad599c3A0ff1De082011EFDDc58f1908eb6e6D8,5.742541e+09,1.446970e+18,1.662584e-04,5.014419e-04,2021-05-06 17:45:32+00:00,5219,0xdd7b5dbfa46068595deda4d64bc439f45e7b437a73b7...,231,12382152
3,6259,2025-10-26 07:07:56.297485+00:00,2025-10-26 07:07:56.297485+00:00,None,USDC,ETH,0.9987,3587.29,98.260492,99.743818,...,0x8ad599c3A0ff1De082011EFDDc58f1908eb6e6D8,9.838840e+07,2.780478e+16,2.326479e-04,3.354617e-04,2021-05-06 17:22:28+00:00,,0x224ff77ef8f350510208ae9807b933fc38592157dfcc...,262,12382042
4,6265,2025-10-26 07:07:56.297485+00:00,2025-10-26 07:07:56.297485+00:00,None,USDC,ETH,0.9987,3585.45,1656.575597,13961.993636,...,0x8ad599c3A0ff1De082011EFDDc58f1908eb6e6D8,1.658732e+09,3.894070e+18,2.227898e-05,3.334551e-04,2021-05-06 16:43:46+00:00,5094,0x88b40bed1e7150dc3116cf57308b8e7fe2b2629151c5...,266,12381866

In [29]:
print("\nNull/NaN count:")
print(df['position_token_id'].isna().sum())
print(df['position_token_id'].isnull().sum())
print("\nEmpty string count:")
print((df['position_token_id'] == '').sum())

Null/NaN count:
0
0

Empty string count:
101210

In [33]:
from datetime import datetime


# Ensure timestamp is datetime
df = df[df['position_token_id'] != '']
df['timestamp'] = pd.to_datetime(df['timestamp'])

# 1) MintSize
mint_size = df[df['type'] == 'Mint'].groupby('position_token_id')['volume_total_usd'].sum().rename('MintSize')

# 2) Fees
fees = df[df['type'] == 'Collect'].groupby('position_token_id')['volume_total_usd'].sum().rename('Fees')


def calculate_duration(group):
    mint_events = group[group['type'] == 'Mint']
    burn_events = group[group['type'] == 'Burn']

    if len(mint_events) > 0:
        first_mint = mint_events['timestamp'].min()

        if len(burn_events) > 0:
            last_burn = burn_events['timestamp'].max()
        else:
            # Use current date, matching timezone of first_mint
            if first_mint.tz is not None:
                # If timestamp is timezone-aware, use UTC
                last_burn = pd.Timestamp(datetime.now(), tz='UTC')
            else:
                # If timestamp is timezone-naive
                last_burn = pd.Timestamp(datetime.now())

        return (last_burn - first_mint).days

    return np.nan


# Get list of position_token_ids that have at least one Mint event
positions_with_mints = df[df['type'] == 'Mint']['position_token_id'].unique()

# Filter dataframe to only include these positions
df_filtered = df[df['position_token_id'].isin(positions_with_mints)]

# Then proceed with your groupby operations on df_filtered
mint_size = df_filtered[df_filtered['type'] == 'Mint'].groupby('position_token_id')['volume_total_usd'].sum().rename('MintSize')
fees = df_filtered[df_filtered['type'] == 'Collect'].groupby('position_token_id')['volume_total_usd'].sum().rename('Fees')
duration = df_filtered.groupby('position_token_id').apply(calculate_duration).rename('Duration_days')
interactions = df.groupby('position_token_id').size().rename('Interactions')

position_summary = pd.concat([mint_size, fees, duration, interactions], axis=1).reset_index()
position_summary['Fees'] = position_summary['Fees'].fillna(0)
position_summary

/tmp/ipykernel_930035/4038119880.py:47: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  duration = df_filtered.groupby('position_token_id').apply(calculate_duration).rename('Duration_days')

      position_token_id     MintSize  Fees  Duration_days  Interactions
0                100000  4738.426160   0.0         1571.0             1
1                100003  9476.852319   0.0         1571.0             2
2                100004  2161.036902   0.0         1571.0             1
3                100008  2085.149592   0.0         1571.0             1
4                100011  8268.281680   0.0         1571.0             1
...                 ...          ...   ...            ...           ...
50591             43890          NaN   0.0            NaN             1
50592             45008          NaN   0.0            NaN             1
50593             90010          NaN   0.0            NaN             1
50594             90584          NaN   0.0            NaN             1
50595             90636          NaN   0.0            NaN             1

[50596 rows x 5 columns]

In [31]:
def create_summary_stats(df, columns):
    stats = []
    for col in columns:
        # Remove NaN values for calculations
        data = df[col].dropna()
        stats.append({
            'Column': col,
            'N': len(data),
            'Mean': data.mean(),
            'Std Dev': data.std(),
            'Min': data.min(),
            'Q5': data.quantile(0.05),
            'Median': data.median(),
            'Q95': data.quantile(0.95),
            'Max': data.max()
        })
    summary_df = pd.DataFrame(stats)
    summary_df = summary_df.set_index('Column')
    return summary_df

In [32]:
columns_to_analyze = ['MintSize', 'Fees', 'Duration_days', 'Interactions']
summary_stats = create_summary_stats(position_summary, columns_to_analyze)
summary_stats

,N,Mean,Std Dev,Min,Q5,Median,Q95,Max
Column,,,,,,,,
MintSize,50590,1.666948e+06,6.859678e+06,1.081579e-14,44.127403,29147.712775,1.075569e+07,1.189738e+08
Fees,50596,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
Duration_days,50590,1.445837e+03,3.957810e+02,0.000000e+00,0.000000,1574.000000,1.654000e+03,1.657000e+03
Interactions,50596,1.347755e+00,1.656011e+00,1.000000e+00,1.000000,1.000000,3.000000e+00,2.000000e+02