# UniswapV3 retail vs sophisticated participants

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
conn = create_engine('postgresql://user:pass@localhost:5432/db')

df = pd.read_sql("select * from uniswap_v3_deals uvd inner join uniswap_v3_events uve on uvd.blockchain_event_id = uve.id", conn)

Lets see the dataset we have

In [3]:
df.head()

,id,created_at,updated_at,deleted_at,symbol_a,symbol_b,price_token_a,price_token_b,volume_tokens_a_in_usd,volume_tokens_b_in_usd,...,type,wallet_address,pool_address,amount_token_a,amount_token_b,price_lower,price_upper,timestamp,tx_id,log_index
0,1,2025-10-09 17:10:57.624129+00:00,2025-10-09 17:10:57.624129+00:00,None,USDC,ETH,0.9994,2510.39,1.906240e+07,5.244720e+06,...,Mint,0xA69babEF1cA67A37Ffaf7a485DfFF3382056e78C,0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640,1.907385e+13,2.089205e+21,0.000398,0.000398,2025-05-21 21:48:35+00:00,0xe1f461254ca6de78501e0d8fed2120a86e750f006d0c...,119
1,2,2025-10-09 17:10:57.624129+00:00,2025-10-09 17:10:57.624129+00:00,None,USDC,ETH,0.9995,2561.56,3.666217e+06,3.839913e+06,...,Mint,0xA69babEF1cA67A37Ffaf7a485DfFF3382056e78C,0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640,3.668051e+12,1.499052e+21,0.000390,0.000390,2025-05-21 23:39:23+00:00,0x7c644ebc3a532b9772dc1c67058c51580e8009c4bffa...,5
2,3,2025-10-09 17:10:57.624129+00:00,2025-10-09 17:10:57.624129+00:00,None,USDC,ETH,0.9995,2513.50,1.802368e+04,1.058536e+05,...,Burn,0xC36442b4a4522E871399CD717aBDD847Ab11FE88,0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640,1.803270e+10,4.211401e+19,0.000409,0.000338,2025-05-21 22:24:59+00:00,0x96e706a06c1ce1ad0ea8f511a0ce3785c2c24c73f16c...,307
3,4,2025-10-09 17:10:57.624129+00:00,2025-10-09 17:10:57.624129+00:00,None,USDC,ETH,0.9995,2528.20,0.000000e+00,8.898624e+01,...,Burn,0xC36442b4a4522E871399CD717aBDD847Ab11FE88,0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640,0.000000e+00,3.519747e+16,0.000394,0.000368,2025-05-21 23:09:23+00:00,0x418e9af9b227b82115d86e9e47285fc69d4f43f29bf1...,63
4,5,2025-10-09 17:10:57.624129+00:00,2025-10-09 17:10:57.624129+00:00,None,USDC,ETH,0.9995,2513.50,0.000000e+00,0.000000e+00,...,Burn,0xC36442b4a4522E871399CD717aBDD847Ab11FE88,0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640,0.000000e+00,0.000000e+00,0.000409,0.000338,2025-05-21 22:24:59+00:00,0x96e706a06c1ce1ad0ea8f511a0ce3785c2c24c73f16c...,309

## Phase 1: Sophisticated criteria

We have several criteria on whether wallet is sophisticated:

- top 5th percentile of `max(mint_tx)` per wallet
- there is a position with 1 million usd minted
- top 5th percentile of `count(mint_tx)` per wallet
- top 5th percentile of `count(distinct(pool_address))` per wallet
- top 5th percentile of `count(liquidity_tx)` per wallet

### Criterion 1: Max mint volume in one tx per wallet

In [4]:
wallet_max_mint_volume_usd = (
    df[df['type'] == 'Mint']
    .assign(max_mint_volume_usd=lambda x: x['volume_tokens_a_in_usd'] + x['volume_tokens_b_in_usd'])
    .groupby('wallet_address')['max_mint_volume_usd']
    .max()
    .reset_index()
)

wallet_max_mint_volume_usd_percentile_95 = wallet_max_mint_volume_usd['max_mint_volume_usd'].quantile(0.95)
print(f"95th percentile threshold: ${wallet_max_mint_volume_usd_percentile_95:,.2f}")

wallet_max_mint_volume_usd['is_sophisticated_by_max_mint_volume_usd'] = np.where(
    wallet_max_mint_volume_usd['max_mint_volume_usd'] >= wallet_max_mint_volume_usd_percentile_95,
    1,
    0   # Bottom 95% (retail)
)
wallet_max_mint_volume_usd.head()

95th percentile threshold: $54,098,597.53

,wallet_address,max_mint_volume_usd,is_sophisticated_by_max_mint_volume_usd
0,0x0D3C2261747B2079f6aBD459642421A8087aead5,1.923544e+06,0
1,0x1cF3e6f18223a1f2A445f2cD60538Af380e98074,1.066593e+01,0
2,0x1f2F10D1C40777AE1Da742455c65828FF36Df387,1.071699e+07,0
3,0x2bA151B2cB21E2B1Ac297765B921d35AeAFF139a,7.187995e+05,0
4,0x33cB657E7fd57F1f2d5f392FB78D5FA80806d1B4,1.386218e+04,0

Binary criteria `is_sophisticated_by_max_mint_volume_usd`:
- 0 is retail
- 1 is sophisticated

### Criterion 2: wallet has at least one position with 1 million usd minted

In [14]:
wallet_mint_volume_1_mln_usd = (
    df[df['type'] == 'Mint']
    .assign(mint_volume=lambda x: x['volume_tokens_a_in_usd'] + x['volume_tokens_b_in_usd'])
    .groupby('wallet_address')
    .agg(
        max_mint_volume_usd_for_criterion_2=('mint_volume', 'max'),
        is_sophisticated_by_mint_volume_1_mln_usd=('mint_volume', lambda x: int((x >= 1000000).any()))
    )
    .reset_index()
)
wallet_mint_volume_1_mln_usd.head()

,wallet_address,max_mint_volume_usd_for_criterion_2,is_sophisticated_by_mint_volume_1_mln_usd
0,0x0D3C2261747B2079f6aBD459642421A8087aead5,1.923544e+06,1
1,0x1cF3e6f18223a1f2A445f2cD60538Af380e98074,1.066593e+01,0
2,0x1f2F10D1C40777AE1Da742455c65828FF36Df387,1.071699e+07,1
3,0x2bA151B2cB21E2B1Ac297765B921d35AeAFF139a,7.187995e+05,0
4,0x33cB657E7fd57F1f2d5f392FB78D5FA80806d1B4,1.386218e+04,0

Binary criteria `is_sophisticated_by_max_mint_volume_usd`:
- 0 is retail
- 1 is sophisticated

### Criterion 3: top 5th percentile of amount of mint txes by wallet

In [6]:
wallet_mint_txes_count = (
    df[df['type'] == 'Mint']
    .groupby('wallet_address')
    .size()
    .reset_index(name='mint_tx_count')
)

wallet_mint_txes_count_percentile_95 = wallet_mint_txes_count['mint_tx_count'].quantile(0.95)
print(f"95th percentile threshold: {wallet_mint_txes_count_percentile_95:,.2f}")

wallet_mint_txes_count['is_sophisticated_by_mint_txes_count'] = np.where(
    wallet_mint_txes_count['mint_tx_count'] >= wallet_mint_txes_count_percentile_95,
    1,
    0   # Bottom 95% (retail)
)
wallet_mint_txes_count.head()

95th percentile threshold: 3,390.30

,wallet_address,mint_tx_count,is_sophisticated_by_mint_txes_count
0,0x0D3C2261747B2079f6aBD459642421A8087aead5,8,0
1,0x1cF3e6f18223a1f2A445f2cD60538Af380e98074,1,0
2,0x1f2F10D1C40777AE1Da742455c65828FF36Df387,1002,0
3,0x2bA151B2cB21E2B1Ac297765B921d35AeAFF139a,14,0
4,0x33cB657E7fd57F1f2d5f392FB78D5FA80806d1B4,25,0

Binary criteria `wallet_mint_txes_count`:
- 0 is retail
- 1 is sophisticated

### Criterion 4: top 5th percentile of count of distinct pool where address participated
Currently cannot implement!!!

### Criterion 5: top 5th percentile of count of interactions with UniswapV3 pools

In [7]:
wallet_all_txes_count = (
    df
    .groupby('wallet_address')
    .size()
    .reset_index(name='tx_count')
)

wallet_all_txes_count_percentile_95 = wallet_all_txes_count['tx_count'].quantile(0.95)
print(f"95th percentile threshold: {wallet_all_txes_count_percentile_95:,.2f}")

wallet_all_txes_count['is_sophisticated_by_all_txes_count'] = np.where(
    wallet_all_txes_count['tx_count'] >= wallet_all_txes_count_percentile_95,
    1,
    0   # Bottom 95% (retail)
)
wallet_all_txes_count.head()

95th percentile threshold: 6,529.80

,wallet_address,tx_count,is_sophisticated_by_all_txes_count
0,0x0D3C2261747B2079f6aBD459642421A8087aead5,16,0
1,0x1ae1dF64bF695Ea1f1a7ebDc280aF712340f09a9,1,0
2,0x1cF3e6f18223a1f2A445f2cD60538Af380e98074,2,0
3,0x1f2F10D1C40777AE1Da742455c65828FF36Df387,2004,0
4,0x2bA151B2cB21E2B1Ac297765B921d35AeAFF139a,28,0

## Sum up: who is sophisticated

If wallet has two or more criteria he is sophisticated -> he is sophisticated

In [25]:
merged = wallet_max_mint_volume_usd.merge(wallet_mint_volume_1_mln_usd, on="wallet_address", how="outer")
merged = merged.merge(wallet_mint_txes_count, on="wallet_address", how="outer")
merged = merged.merge(wallet_all_txes_count, on="wallet_address", how="outer")
cleaned = merged.dropna()
cleaned.head()

is_sophisticated = cleaned.assign(is_sophisticated=lambda x: int((
                                  x['is_sophisticated_by_max_mint_volume_usd'] +
                                  x['is_sophisticated_by_mint_volume_1_mln_usd'] +
                                  x['is_sophisticated_by_mint_txes_count'] +
                                  x['is_sophisticated_by_all_txes_count'] > 1).any())
                                  )
is_retail = is_sophisticated.assign(is_retail=lambda x: abs(x.is_sophisticated - 1))
prettified = is_retail.drop(['max_mint_volume_usd_for_criterion_2', 'is_sophisticated_by_max_mint_volume_usd', 'is_sophisticated_by_mint_volume_1_mln_usd', 'is_sophisticated_by_mint_txes_count', 'is_sophisticated_by_all_txes_count'], axis=1)
prettified.head()

,wallet_address,max_mint_volume_usd,mint_tx_count,tx_count,is_sophisticated,is_retail
0,0x0D3C2261747B2079f6aBD459642421A8087aead5,1.923544e+06,8.0,16,1,0
2,0x1cF3e6f18223a1f2A445f2cD60538Af380e98074,1.066593e+01,1.0,2,1,0
3,0x1f2F10D1C40777AE1Da742455c65828FF36Df387,1.071699e+07,1002.0,2004,1,0
4,0x2bA151B2cB21E2B1Ac297765B921d35AeAFF139a,7.187995e+05,14.0,28,1,0
5,0x33cB657E7fd57F1f2d5f392FB78D5FA80806d1B4,1.386218e+04,25.0,50,1,0